.tm-cursor {
  position: absolute;
}

.tm-cursor-blink {
  animation: blink .95s ease-in-out 0s infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
